<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav navbar-nav navbar">
        <li>
          {{#link-to 'index.new-question'}}
          <button class="mynav new-q-btn post-q-nav-item">POST Q
          <img src=".././assets/images/quiet.png" alt="quiet symbol" class="quiet-img img-responsive"/></button>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      {{#link-to "index" class="title-link"}}
        <h1 class="title">QT<span class="patoo-tee">patoo-<br>tee</span>&amp;A</h1>
      {{/link-to}}
    </div>
    <div class="col-sm-3">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger menu-nav-item"></i></a>
          <ul class="dropdown-menu">
            {{#link-to "about"}}
              <li><a href="#">About</a></li>
            {{/link-to}}
            {{#link-to "contact"}}
              <li><a href="#">Contact</a></li>
            {{/link-to}}
              <li role="separator" class="divider"></li>
            {{#link-to "admin"}}
              <li><a href="#">Admin Portal</a></li>
            {{/link-to}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="subtitle">The Prudent Cutie Forum</h3>
    </div>
  </div>
  <hr>
</div>
