<div class="row">
  <div class="col-sm-3">
    <ul class="nav navbar-nav navbar">
      <li>
        <a href="#" class="post-q-nav-item">
        <img src="assets/images/quiet.png" alt="quiet symbol" class="quiet-img img-responsive"/>
        POST Q</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h1 class="title">QT<span class="patoo-tee">patoo-<br>tee</span>&amp;A</h1>
  </div>
  <div class="col-sm-3">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger menu-nav-item"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Admin Portal</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <h3 class="subtitle">Deviant Questions for Prudent Cuties</h3>
  </div>
</div>
<hr>
