<div class="row">
  <div class="col-sm-3">
    <ul class="nav navbar-nav navbar">
      <li>
        <!-- How do I send action up into app controller to toggle property in index? -->
        {{#link-to "new-question"}}
          <button {{action 'showQuestionForm'}} class="new-q-btn post-q-nav-item">POST Q
          <img src="assets/images/quiet.png" alt="quiet symbol" class="quiet-img img-responsive"/></button>
        {{/link-to}}
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    {{#link-to "index"}}
      <h1 class="title">QT<span class="patoo-tee">patoo-<br>tee</span>&amp;A</h1>
    {{/link-to}}
  </div>
  <div class="col-sm-3">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger menu-nav-item"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Admin Portal</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <h3 class="subtitle">The Prudent Cutie Forum</h3>
  </div>
</div>
<hr>
