body {
  font-family: 'courier', sans-serif;
}

.jumbotron {
  background-color: white;
}

.post-q-nav-item {
  display: inline-block;
  color: black;
  font-size: 2em;
}

.menu-nav-item {
  color: black;
  font-size: 3em;
  margin-top: 8px;
  margin-right: 12px;
}

.title, .subtitle {
  text-align: center;
}

.title {
  font-family: 'Baloo Da', cursive;
  margin-top: 12px;
}

.subtitle {
  font-style: italic;
  margin-top: 6px;
}

.patoo-tee {
  color: pink;
}

.quiet-img {
  display: inline-block;
  width: 2em;
}
