<div class="container">
  <header>
    {{fake-nav-bar}}
  </header>
  <div class="content">
    {{outlet}}
  </div>
  <footer class="row">
    <div class="col-md-12">
      <br><br>
      <p class="subtitle">Copyright Sebastian Adam Prokuski 2016</p>
      <br>
    </div>
  </footer>
</div>
