<div class="container">
    {{fake-nav-bar}}
    {{outlet}}
    <footer class="row">
      <div class="col-md-12">
        <p class="subtitle">Copywright Sebastian Adam Prokuski 2016</p>
      </div>
    </footer>
</div>
