{{nav-bar saveQuestion="saveQuestion"}}

{{update-question question=model update="update"}}

{{question-tile question=model destroyQuestion="destroyQuestion"}}

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

{{new-answer saveAnswer="saveAnswer" question=model}}
